body, html {
    height: 100%;
}


.active {
    color: rgb(66, 65, 65);
    outline: none;
}

.link {
    color: white;
}


.nav {
    background-color: #59a039;
    border-bottom: 1px solid #3f682c;
    font-family: Borda,"PingFang SC","Microsoft YaHei",Simsun,Helvetica,Arial,Verdana,sans-serif;
}

.main {
    background-color: rgb(0, 0, 0, .70)
}

.loginform {
    margin-top: 120px;
    height: 300px;
    width: 320px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(75, 75, 75);
}

.form-self {
    margin-top: 30%;
}

.forminput {
    height: 40px;
    font-size: 15px;
}


.formsubmit {
    margin-top: 10px;
    border: 0px;
    transition: all 0.5s;
}

.formsubmit:hover {
    transform: scale(1.4);
    background-color: white;
}

#exit {
    transition: all 0.2s;
}

#exit:hover {
    transform: scale(1.5);
}

#pencil {
    transition: all 0.2s;
    outline: none !important;
    box-shadow: none;
}

#pencil:hover {
    transform: scale(1.5);
}

#update {
    margin: 5px;
}

#updateform {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.jobtable {
    margin-bottom: 50px;
}

@media (max-width: 750px) {
    .jobtable {
    width: 400px;
    padding-top: 65px;
    font-size: 12px;
    }
    .info {
        font-size: 14px;
        padding-top: 70px;
    }
}
