.note {
    border: 1px solid black;
    background-color: rgb(255, 255, 161);
    width: 500px;
    box-shadow: 3px 3px rgb(172, 172, 172);
    border-radius: 3px;
}

.text {
    margin: 6px;
}

.plus {
    transition: all 0.2s;
    outline: none;
    box-shadow: none;
}

.plus:hover {
    transform: scale(1.5);
}

#trash {
    transition: all 0.2s;
    margin-bottom: 8px;
}

#trash:hover {
    transform: scale(1.8);
}

.savenote {
    width: 400px;
    display: flex;
    flex-direction: column;
}

#save {
    margin: 5px;
    width: 120px;
}

@media (max-width: 700px) {
    .savenote {
        width: 300px;
    }
    .note {
        width: 300px;
        font-size: 15px;
    }
}